@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html,
body {
  font-family: "NetflixSans-Medium", sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NetflixSans-Light";
  font-weight: 300;
  src: url(./assets/fonts/NetflixSans-Light.woff2) format("woff2");
}

@font-face {
  font-family: "NetflixSans-Medium";
  font-weight: 400;
  src: url(./assets/fonts/NetflixSans-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "NetflixSans-Regular";
  font-weight: 500;
  src: url(./assets/fonts/NetflixSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "NetflixSans-Bold";
  font-weight: 700;
  src: url(./assets/fonts/NetflixSans-Bold.woff2) format("woff2");
}

